/* Préchargeur conteneur */
.preloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hauteur de l'écran */
    background-color: rgba(3, 3, 3, 0.9); /* Couleur de fond avec transparence */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; /* Toujours au-dessus des autres éléments */
}

/* Cercle de préchargeur */
.preloader-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80px;
    height: 80px;
}

/* Animation de rotation */
.preloader-circle::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border: 4px solid #383538; /* Couleur de la bordure */
    border-top-color: transparent; /* Cacher le bord supérieur */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Animation infinie de rotation */
}

/* Logo à l'intérieur du préchargeur */
.preloader-circle img {
    position: relative;
    z-index: 10; /* Au-dessus de l'animation */
}

/* Animation de rotation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


body{
    font-family: "Scala Sans OT Regular", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}
/* Masquer le préchargeur après le chargement */
body.loaded .preloader-container {
    display: none;
    cursor: none;
}

.cusor {
    cursor: pointer;
}
/* Style du curseur personnalisé */
.custom-cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #ab26aa; /* Couleur primaire */
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease, width 0.1s ease, height 0.1s ease;
    z-index: 10000;
}

/* Effet lors du survol des liens */
a:hover + .custom-cursor,
button:hover + .custom-cursor {
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%) scale(1.2);
}

.cat-scroll-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.cat-scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth; /* Ajoute un défilement fluide */
}

.cat-scroll-container::-webkit-scrollbar {
    display: none; /* Cache la scrollbar si nécessaire */
}

.cat-item {
    flex: 0 0 25%;
    box-sizing: border-box;
    margin-right: 20px;
}

.cat-scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.cat-scroll-button.left {
    left: 0;
}

.cat-scroll-button.right {
    right: 0;
}
.cat-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.cat-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.as-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.as-carousel {
    display: flex;
    animation: as-scroll 30s linear infinite;
    width: max-content;
}

.as-item {
    flex: 0 0 auto;
    width: 300px; /* Forcer les carrés */
    margin: 0 10px;
    border: solid 4px rgba(0, 0, 0, 0.171);
    text-align: center;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.as-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Animation de défilement fluide */
@keyframes as-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.form-control-select-x {
    width: 100% !important;
    border: solid 1px white !important;
    height: 40px !important;
    margin-top: 10px !important;
    border-bottom: solid 1px rgba(68, 67, 67, 0.13) !important;
}

/* Container */
.drp-dropdown {
    position: relative;
    display: inline-block;
}

/* Button for dropdown */
.drp-dropbtn {
    border: none;
    cursor: pointer;
    background-color: #333333;
    color: white;
    align-items: center;
    justify-content: center;
}
.drp-dropbtn img{
    margin-bottom: 3px;
}
/* Dropdown content (hidden by default) */
.drp-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.drp-dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown content on hover */
.drp-dropdown:hover .drp-dropdown-content {
    display: block;
}

/* Change color of dropdown links on hover */
.drp-dropdown-content a:hover {
    background-color: #f1f1f1;
}

.mada-font {
    font-family: "Mada", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    font-weight: 1000 !important;
}
.logo-up-option {
    position: absolute;
    bottom: -20px;
}
.card-image-categorie-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.card-image-categorie-home img:hover{
    border: solid 2px rgba(252, 153, 153, 0.5);
    transition: border 0.3s ease;
}
.card-image-categorie-home{
    overflow: hidden;
    height: 300px;
    border:solid 2px rgba(173, 170, 170, 0.173);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.card-home-cat{
    background-color: #f6f4f2;
    padding: 10px;
    margin-bottom: 20px;
}
.card-home-cat .btns{
    font-weight: bold;
    font-size: 12px;
    border:solid 1px rgba(0, 0, 0, 0.655);
    padding: 5px 20px;
}
.product-card-shop{
    background-color: #f6f4f2;
    padding: 10px;
    margin-bottom: 10px;
}
.product-card-shop .btn-add{
    font-weight: bold;
    font-size: 12px;
    border:solid 1px rgba(0, 0, 0, 0.655);
    padding: 5px 20px;
}
.product-card-shop img{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1) !important;
}
